@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Indie Flower', cursive;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Indie Flower', cursive;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Indie Flower', cursive;
}
.mbr-author-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Indie Flower', cursive;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.bg-primary {
  background-color: #51204f !important;
}
.bg-success {
  background-color: #f0544f !important;
}
.bg-info {
  background-color: #c6d8d3 !important;
}
.bg-warning {
  background-color: #fdf0d5 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #51204f;
  border-color: #51204f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1a0a1a;
  border-color: #1a0a1a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a0a1a !important;
  border-color: #1a0a1a !important;
}
.btn-secondary {
  background-color: #d81e5b;
  border-color: #d81e5b;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #95153f;
  border-color: #95153f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #95153f !important;
  border-color: #95153f !important;
}
.btn-info {
  background-color: #c6d8d3;
  border-color: #c6d8d3;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #99b9b0;
  border-color: #99b9b0;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #99b9b0 !important;
  border-color: #99b9b0 !important;
}
.btn-success {
  background-color: #f0544f;
  border-color: #f0544f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #df1913;
  border-color: #df1913;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #df1913 !important;
  border-color: #df1913 !important;
}
.btn-warning {
  background-color: #fdf0d5;
  border-color: #fdf0d5;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #fad68c;
  border-color: #fad68c;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #fad68c !important;
  border-color: #fad68c !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #080308;
  color: #080308;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #51204f;
  border-color: #51204f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #51204f !important;
  border-color: #51204f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #7e1235;
  color: #7e1235;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #d81e5b;
  border-color: #d81e5b;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d81e5b !important;
  border-color: #d81e5b !important;
}
.btn-info-outline {
  background: none;
  border-color: #89afa4;
  color: #89afa4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c6d8d3;
  border-color: #c6d8d3;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c6d8d3 !important;
  border-color: #c6d8d3 !important;
}
.btn-success-outline {
  background: none;
  border-color: #c81711;
  color: #c81711;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f0544f;
  border-color: #f0544f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f0544f !important;
  border-color: #f0544f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #f8cd74;
  color: #f8cd74;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #fdf0d5;
  border-color: #fdf0d5;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #fdf0d5 !important;
  border-color: #fdf0d5 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #51204f !important;
}
.text-success {
  color: #f0544f !important;
}
.text-info {
  color: #c6d8d3 !important;
}
.text-warning {
  color: #fdf0d5 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #f0544f;
}
.alert-info {
  background-color: #c6d8d3;
}
.alert-warning {
  background-color: #fdf0d5;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #51204f;
}
.btn-social:hover {
  background: #51204f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #51204f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #51204f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #51204f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #51204f;
}
.lead a,
.lead a:hover {
  color: #51204f;
}
.lead blockquote {
  border-color: #51204f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d087cd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #51204f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header5-b .mbr-section-title {
  color: #ce200e;
  font-family: 'Lato', sans-serif;
  text-align: right;
}
#header5-b .mbr-section-lead {
  color: #c6d8d3;
  font-family: 'Open Sans', sans-serif;
}
#header5-b .mbr-section-lead B {
  text-align: center;
  font-size: 20px;
  color: #0ee3a8;
}
#header5-b .mbr-section-title P {
  text-align: center;
  color: #bfdbf7;
  font-size: 60px;
}
#menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-e .navbar-caption {
  color: #ffffff;
}
#menu-e .navbar-toggler {
  color: #ffffff;
}
#menu-e .close-icon::before,
#menu-e .close-icon::after {
  background-color: #ffffff;
}
#menu-e .link,
#menu-e .dropdown-item {
  color: #ffffff;
}
#menu-e .link {
  font-size: 0.75rem;
}
#menu-e .dropdown-item,
#menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-e .link:hover,
#menu-e .dropdown-item:hover,
#menu-e .link:focus,
#menu-e .dropdown-item:focus {
  color: #51204f;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-menu {
  background: #f99a0e;
}
#menu-e .nav-dropdown-sm .link:focus,
#menu-e .nav-dropdown-sm .link:hover,
#menu-e .nav-dropdown-sm .dropdown-item:focus,
#menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-e .navbar,
#menu-e .nav-dropdown-sm,
#menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-e .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-e .bg-color.transparent.opened .link:hover,
#menu-e .bg-color.transparent.opened .link:focus {
  color: #51204f;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-item[aria-expanded="true"] {
  color: #51204f!important;
}
